html {
    font-size: 100%;
    /* 1rem = 16px */
}

:root {
    --font-size-small: 0.75rem;
    /* 12px */
    --font-size-medium: 0.875rem;
    /* 14px */
    --font-size-large: 1rem;
    /* 16px */
    --padding-size-2: 0.125rem;
    /* 2px  */
    --padding-size-3: 0.1875rem;
    /* 3px  */
    --padding-size-8: 0.5rem;
    /* 8px  */
    --padding-size-10: 0.625rem;
    /* 10px  */
    --padding-size-11: 0.6875rem;
    /* 11px  */
    --padding-size-12: 0.75rem;
    /* 12px  */
    --padding-size-13: 0.8125rem;
    /* 13px */
    --padding-size-14: 0.875rem;
    /* 14px */
    --padding-size-16: 1rem;
    /* 14px */
    --padding-size-26: 1.625rem;
    /* 26px */
    --padding-size-30: 1.875rem;
    /* 30px  */
    --padding-size-32: 2rem;
    /* 32px */
    --margin-size-2: 0.125rem;
    /* 2px  */
    --margin-size-3: 0.1875rem;
    /* 3px  */
    --margin-size-4: 0.25rem;
    /* 4px   */
    --margin-size-8: 0.5rem;
    /* 8px  */
    --margin-size-16: 1rem;
    /* 16px */
    --margin-size-44: 2.75rem;
    /* 44px */
    --margin-size-96: 6rem;
    /* 96px */
    --color-form: #eaf1fb;
    --color-svg: #5f6368;
    --color-error: #b3261e;
    --color-error-container: #f9dedc;
    --color-inverse-on-surface: #f2f2f2;
    --color-inverse-primary: #a8c7fa;
    --color-inverse-surface: #303030;
    --color-on-background: #1f1f1f;
    --color-on-error-container: #410e0b;
    --color-on-primary-container: #041e49;
    --color-on-primary-fixed: #041e49;
    --color-on-primary-fixed-variant: #0842a0;
    --color-on-secondary: #fff;
    --color-on-secondary-container: #001d35;
    --color-on-secondary-fixed-variant: #004a77;
    --color-table-head: #444746;
    --color-table-text: #202124;
    --color-on-tertiary-fixed: #072711;
    --color-outline: #747775;
    --color-outline-variant: #c4c7c5;
    --color-active-border: #0b57d0;
    --color-primary-active: #d3e3fd;
    --color-scrim: #000;
    --color-secondary: #00639b;
    --color-secondary-container: #c2e7ff;
    --color-secondary-fixed: #c2e7ff;
    --color-secondary-fixed-dim: #7fcfff;
    --color-shadow: #000;
    --color-surface: #fff;
    --color-surface-bright: #fff;
    --color-surface-container: #f0f4f9;
    --color-surface-container-high: #e9eef6;
    --color-surface-container-highest: #dde3ea;
    --color-surface-container-low: #f8fafd;
    --color-surface-dim: #d3dbe5;
    --color-surface-tint: #6991d6;
    --color-surface-variant: #e1e3e1;
    --color-tertiary-container: #c4eed0;
    --color-tertiary-fixed: #c4eed0;
}

/* fonts.css */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f6f8fc;
    /* font-family: "Google", "Roboto" */
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}


/* gheader start  */
.gheader__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-size-8);
    height: 64px;
}

.gheader__item svg:hover {
    border-radius: 50%;
    background-color: #E2E4E7;
}

.gheader__hambg {
    display: flex;
    align-items: center;
    min-width: 238px;
    padding-right: var(--padding-size-30);
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-user-select: none;
}

.gheader__hambg__icon {
    height: 48px;
    width: 48px;
    padding: 12px;
    margin: 0 4px;
    border-radius: 50%;
}

.gheader__hambg__icon:hover {
    background-color: rgba(60, 64, 67, .08);

}

.gheader__hambg .gheader--logo {
    margin-top: 4px;
}

.gheader__allapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    width: 90px;
}

.gheader__allapp__icon {
    height: 24px;
    width: 24px;
}

.gheader__allapp div a {
    padding: 4px;
    height: 40px;
}

.gheader__input__search {
    display: flex;
    flex: 1;
    cursor: pointer;
    height: 44px;
    align-items: center;
}

.gheader__input__search div>input {
    border: none;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 6;
    left: -7px;
    top: 2px;
    background: transparent;
    border: none;
    font: normal 16px Google Sans, Roboto, Helvetica, Arial, sans-serif;
    font-variant-ligatures: none;
    height: 46px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.gheader__profile {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.gheader__profile img {
    border-radius: 50%;
}

.gheader__input__search__mail {
    display: flex;
    background: #EAF1FB;
    max-width: 720px;
    border-radius: 50px;
    height: 100%;
    min-height: 48px;
}

.gheader__input__search__mail div {
    flex: 1;
    position: relative;
}

.gheader__input__search__mail button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 6px;
    width: 48px;
    line-height: 0;
    margin-right: 3px;
}

.gheader__input__section__search svg {
    fill: #444746;
    margin-top: 3px;
    margin-left: 1px;
}

.gheader__input__search__filter svg {
    fill: #444746;
    margin-top: 0px;
    margin-left: -2px;
}

.gheader__input__section {
    flex: 1;
    padding-right: var(--padding-size-30);
    padding-left: var(--padding-size-10);
    height: 100%;
    margin-bottom: 6px;
}

.gheader__input__setting {
    display: flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
}

.gheader__input__setting a {
    width: 44px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.gheader__input__setting a svg,
.gheader__allapp a svg {
    fill: #5f6368;
}

/* gheader end */
/* gcontainer start */
.gcontainer {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    z-index: -99;
}

.gbody--container--message {
    flex: 1;
}

.main__body {
    background-color: white;
    border-radius: 16px;
}

.main__body__content {
    overflow-y: scroll;
    height: 100%;
    font-size: var(--font-size-medium);
    height: 610px;
    scrollbar-color: #E3E4E5 #fff;
}

.left-checked--msg {}

.left--checkbox {
    display: flex;
    gap: 12px;
    height: 20px;

}

.left--checkbox span {
    /* height: 100%;
    display: flex;
    align-items: center;
    margin: 0 12px;
    gap: 1px; */
    padding-right: 8px;
}

.left--checkbox img {
    height: 100%;
    opacity: 1 !important;
}

.main__body__header {
    display: flex;
    align-items: center;
    height: 48px;
}

.main__body__header__left {
    display: flex;
    justify-content: space-between;
    height: 20px;
    align-items: center;
    margin: 0 var(--margin-size-16) 0 0;
    padding: 0 var(--padding-size-16);
    font-size: var(--font-size-small);
    color: #5E5E5E;
    font-weight: 400;
    width: 100%;
}

.main__body__header__left img {
    opacity: 0.5;
}

.main__body__header__left .keyboard img {
    width: 100%;
    height: 100%;
}

.message--count {
    display: flex;
    align-items: center;
    height: 100%;
}

.message--count .total {
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 100%;
    margin-right: 14px;
}

.message--count .total span {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 13px;
    letter-spacing: -0.5px;

}

.message--count .total .left--icon {
    margin-right: 18px;
}

.message--count .keyboard {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20px;
    margin-right: 20px;
}

.lef-right-icon {
    margin-right: 2px;
    display: flex;
    gap: 2px;
}

.message--count>span {
    display: flex;
    gap: 5px;
}

.main__body__table ul {
    background: white;
    display: flex;
}

.main__body__table__list {
    display: flex;
    align-items: center;
}

.main__body__table ul li {
    top: 0px;
    border: 0px none rgb(51, 51, 51);
    position: relative;
    user-select: none;
    float: none;
    height: 56px;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);
    outline: rgb(51, 51, 51) none 0px;
    cursor: pointer;
    transition: margin-top 0.2s ease 0s, height 0.2s ease 0s;
    align-items: center;
    display: flex;
    width: 236px;

}

.active::before {
    background: var(--color-active-border);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0 8px;
    position: absolute;
    right: 0;
}

.main__body__table ul li img {
    margin: 0px 16px;
    width: 20px;
    height: 20px;
    position: relative;
}

.main__body__table ul li span {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
    width: 164px;
    font-weight: 500;
}

.activeColor {
    color: var(--color-active-border);
}

.activeBg {
    background-color: var(--color-primary-active);
    cursor: pointer;
    color: #001d35;
    font-weight: 700;
    font-size: 14px;

}

.activeBg:hover {
    background-color: #E0E9F7;
}

.inactive {
    color: var(--color-table-head);

}

.main__body__table ul li:hover {
    background-color: #F4F4F4;
}

.company--name {
    flex-basis: 208px;
    max-width: 208px;
}

.main__body__mail table {
    width: 100%;
    color: rgb(32, 33, 36);
    cursor: pointer;
    user-select: none;
    background: none 0% 0% / auto repeat scroll padding-box border-box rgb(242, 246, 252);

}

.main__body__mail .text {
    display: flex;
}

.main__body__mail table tbody .check {
    padding: 0px var(--padding-size-10) 0px var(--padding-size-13);
}

.main__body__mail .date {
    font-size: var(--font-size-small) !important;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.main__body__mail .date img {
    opacity: 1 !important;
}

.main__body__mail__msg {
    color: #5F6368;
    margin-left: 8px;
}

.download--pdf {
    color: #5f6368;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 30px;
    padding: 0 var(--padding-size-12);
    margin-right: 8px;
    max-width: 160px;
    min-width: 64px;
    border: 1px solid #EAE5EA;
    border-radius: 15px;
    align-items: center;
    box-shadow: inset 0 0 0 1px rgba(100, 121, 143, 0.302);
    margin-bottom: 3px;
    margin-left: 2px;
    margin-top: 7px;
}

.download--pdf>img {
    height: 16px !important;
    width: 16px !important;
    margin-right: 8px;
    opacity: 1 !important;
}

.main__body__mail table tbody tr {
    width: 100%;
    padding-bottom: var(--padding-size-10);
    padding-top: var(--padding-size-10);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-medium);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
    border: none;
}

.main__tr-btop {
    border-top: 1px solid #EFEEF4;
}

.main__body__mail table tbody tr:hover {
    box-shadow: inset -1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
}

.main__body__mail table tbody tr>div {
    flex: 1;
}

.main__body__mail table tbody tr>div>div {
    display: flex;
}

.main__body__mail table tbody tr>div>div .read {
    flex: 1;
}

.main__body__mail tr td img {
    height: 19px;
    width: 19px;
    opacity: 0.2;
}

.main__body__mail .read {
    flex: 1;
}

.main__body__mail .read>div {
    display: flex;
    flex-direction: column;
}

.main__body__mail table tbody tr td {
    padding-right: var(--padding-size-10);
}

.footer--memory {
    padding: 0px 16px;
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    color: #5f6368;
    font-size: 12px;
}

.footer--memory .storage {
    height: 6px;
    width: 220px;
}

.footer--memory .storage .range {
    background-color: rgb(95, 99, 104);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    margin: 7px 0;
}

.footer--memory .storage .used {
    width: 99%;
    background-color: #d93025;
    height: 100%;
}

.footer--memory .about {
    display: flex;
    justify-content: center;
}

.footer--memory .about a {
    color: #666666;
    text-decoration: none;
}

.footer--memory .activity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav__left {
    max-width: 256px;
    min-width: 256px;
    font-size: var(--font-size-medium);
}

.navwidth {
    width: 72px;
}

.nav__left__compose {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #C2E7FF;
    border-radius: 16px;
    color: #001d35;
    height: 56px;
    cursor: pointer;
    width: 142px;
    padding-right: 24px;
    font-family: BoldItalic;
}

.nav__left__compose:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);
    background-color: #c2e7ff;
}

.nav__left__compose span {
    color: #001d35;
    font-weight: 500;
    font-family: "Google Sans";
    font-size: 14px;
}

.nav__left__compose img {
    height: 24px;
    flex: 1;
    object-fit: contain;
}

.main__body__hide {
    display: none;
}

.main__body__block {
    display: block;
    position: absolute;
    right: 0;
    background-color: #F2F6FC;
    z-index: 99;
    margin-right: 4px;
}

/* .nav__left__compo {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: medium;
    height: 56px;
    margin-bottom: var(--margin-size-16);
    margin-top: var(--margin-size-8);
    padding: var(--padding-size-8)
} */
.nav__left__compo {
    height: 56px;
    margin: 8px 0 16px 0;
    padding: 0 0 0 8px;
}

.nav__left .nav__left__list::-webkit-scrollbar {
    width: 8px;
}

.nav__left .nav__left__list::-webkit-scrollbar-thumb {
    background: #828487;
    border-radius: 10px;
}

.nav__left .nav__left__list {
    /* overflow: scroll; */
    height: 88vh;
    max-width: 240px;
    min-width: 240px;

}

.nav__left__list .less {
    padding: 0 12px 0 26px;
    display: flex;
    align-items: center;
}

.nav__left__user {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: var(--padding-size-26);
    padding-right: var(--padding-size-12);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: all 0.3s ease-in;
    cursor: pointer;
    color: #202124;
}

.nav__left__user span {
    /* letter-spacing: 0.6px; */
}

.active--left--icon {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 20px;
    width: 20px;
}

.nav__left__user:hover {
    background: gainsboro;
}

.nav__left__user__icon {
    height: 20px;
    width: 20px;
    display: flex;
    margin-right: 18px;
}


.active--img--margin {
    margin: 0;
}


.nav__right {
    width: 56px;
}

.nav__right>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__right__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__right__list>div {
    height: 56px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__right__list img {
    height: 20px;
    width: 20px;
}

.nav__right__list::after {
    content: "";
    border-top: 1px solid #dadce0;
    padding-bottom: 16px;
    width: 20px;
}

.nav__right__list .plus {
    display: flex;
    justify-content: center;
}

aside.nav__right::-webkit-scrollbar {
    /* display: none; */

}

.nav__right .plus {
    cursor: pointer;
    height: 56px;
    outline: none;
    pointer-events: none;
    position: relative;
    -webkit-transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.nav__right .plus img {
    width: 20px;
}

/* header storage  start*/
.cbundle__main__storage {
    margin-left: 16px;
}

.cbundle__storage {
    display: flex;
    background-color: #fce8e6;
    border-radius: 8px;
    position: relative;
    margin-bottom: 14px;
    margin-top: 14px;
}

.percentage {
    display: flex;
    align-content: center;
    color: #d93025;
    font-size: .75rem;
}

.percentage img {
    background-size: 18px;
    height: 20px;
    width: 20px;
    margin: 0 8px;
    opacity: 1;
}

.cbundle__storage__percentage {
    margin-bottom: 12px;
    margin-left: 14px;
    margin-top: 12px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
}

.cbundle__storage__percentage header {
    margin: 6px 0px;
}

.cbundle__storage__btn {
    font-size: 0.875rem;
    letter-spacing: normal;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    height: 36px;
    min-width: 80px;
    outline: none;
    color: #fff;
    border: none;
    font-family: 'Google Sans', sans-serif;

}

.cbundle__storage__btncontainer {
    margin-bottom: 6px;
    margin-top: 12px;
}

.cbundle__storage__btn--offer {
    background-color: #d93025;
    padding: 0 24px;
}

.cbundle__storage__btn--space {
    padding: 0 16px;
    color: #5f6368;
    padding: 0 16px;
}

.cbundle__storage__info {
    letter-spacing: .0142857143em;
    font-family: "Roboto", sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: #3c4043;
    margin-top: 5px;
}

.cbundle__storage__error {
    margin-left: 18px;
    margin-right: 6px;
    margin-top: 18px;
}

.cbundle__storage__doticon {
    margin-right: 23px;
    margin-top: 25px;
    position: absolute;
    top: 0;
    right: 0;
}

.cbundle__storage__doticon img {
    opacity: 0.54;
}

.cbundle__storage__headtitle {
    letter-spacing: .00625em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: #202124;
}

/* header storage end */
/* gcompose start  */
.gcompose {
    background-color: white;
    height: 530px;
    width: 600px;
    position: absolute;
    right: 75px;
    bottom: 0;
}

/* gcompose end  */

/* gcontainer end */