@font-face {
    font-family: ultra;
    src: url('../public/fonts/google-sans.woff2');
}

html {
    font-size: 100%;
    /* 1rem = 16px */
}

:root {
    --font-size-small: 0.75rem;
    /* 12px */
    --font-size-medium: 0.875rem;
    /* 14px */
    --font-size-large: 1rem;
    /* 16px */
    --padding-size-2: 0.125rem;
    /* 2px  */
    --padding-size-3: 0.1875rem;
    /* 3px  */
    --padding-size-8: 0.5rem;
    /* 8px  */
    --padding-size-10: 0.625rem;
    /* 10px  */
    --padding-size-11: 0.6875rem;
    /* 11px  */
    --padding-size-12: 0.75rem;
    /* 12px  */
    --padding-size-13: 0.8125rem;
    /* 13px */
    --padding-size-14: 0.875rem;
    /* 14px */
    --padding-size-16: 1rem;
    /* 14px */
    --padding-size-26: 1.625rem;
    /* 26px */
    --padding-size-30: 1.875rem;
    /* 30px  */
    --padding-size-32: 2rem;
    /* 32px */
    --margin-size-2: 0.125rem;
    /* 2px  */
    --margin-size-3: 0.1875rem;
    /* 3px  */
    --margin-size-4: 0.25rem;
    /* 4px   */
    --margin-size-8: 0.5rem;
    /* 8px  */
    --margin-size-16: 1rem;
    /* 16px */
    --margin-size-44: 2.75rem;
    /* 44px */
    --margin-size-96: 6rem;
    /* 96px */
    --color-form: #eaf1fb;
    --color-svg: #5f6368;
    --color-error: #b3261e;
    --color-error-container: #f9dedc;
    --color-inverse-on-surface: #f2f2f2;
    --color-inverse-primary: #a8c7fa;
    --color-inverse-surface: #303030;
    --color-on-background: #1f1f1f;
    --color-on-error-container: #410e0b;
    --color-on-primary-container: #041e49;
    --color-on-primary-fixed: #041e49;
    --color-on-primary-fixed-variant: #0842a0;
    --color-on-secondary: #fff;
    --color-on-secondary-container: #001d35;
    --color-on-secondary-fixed-variant: #004a77;
    --color-table-head: #444746;
    --color-table-text: #202124;
    --color-on-tertiary-fixed: #072711;
    --color-outline: #747775;
    --color-outline-variant: #c4c7c5;
    --color-active-border: #0b57d0;
    --color-primary-active: #d3e3fd;
    --color-scrim: #000;
    --color-secondary: #00639b;
    --color-secondary-container: #c2e7ff;
    --color-secondary-fixed: #c2e7ff;
    --color-secondary-fixed-dim: #7fcfff;
    --color-shadow: #000;
    --color-surface: #fff;
    --color-surface-bright: #fff;
    --color-surface-container: #f0f4f9;
    --color-surface-container-high: #e9eef6;
    --color-surface-container-highest: #dde3ea;
    --color-surface-container-low: #f8fafd;
    --color-surface-dim: #d3dbe5;
    --color-surface-tint: #6991d6;
    --color-surface-variant: #e1e3e1;
    --color-tertiary-container: #c4eed0;
    --color-tertiary-fixed: #c4eed0;
}

/* fonts.css */
@font-face {
    font-family: 'Google Sans';
    font-style: italic;
    font-weight: 400;
    src: url(//fonts.gstatic.com/s/googlesans/v58/4Ua9rENHsxJlGDuGo1OIlL3L2JB874GPhFI9_IqmuRqGpjeaLi42kO8QpnQOs5beU3yksanMY0EhlzvKFho5.woff2) format('woff2');
    unicode-range: U+0308, U+0530-058F, U+2010, U+2024, U+25CC, U+FB13-FB17;
}

body {
    font-family: 'Google Sans', sans-serif;
    background-color: #f6f8fc;
}

/* gheader start  */
.gheader__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-size-8);
    height: 64px;
}

.gheader__item svg:hover {
    border-radius: 50%;
    background-color: #E2E4E7;
}

.gheader__hambg {
    display: flex;
    align-items: center;
    min-width: 238px;
    padding-right: var(--padding-size-30);
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -webkit-user-select: none;
}

.gheader__hambg__icon {
    height: 48px;
    width: 48px;
    padding: 12px;
    margin: 0 4px;
    border-radius: 50%;
}

.gheader__hambg__icon:hover {
    background-color: rgba(60, 64, 67, .08);

}

.gheader__allapp {
    display: flex;
    align-items: center;
}

.gheader__allapp__icon {
    height: 24px;
    width: 24px;
}

.gheader__input__search {
    display: flex;
    flex: 1;
    cursor: pointer;
    height: 44px;
    align-items: center;
}

.gheader__input__search div>input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: var(--font-size-large);
}

.gheader__profile {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
}

.gheader__profile img {
    border-radius: 50%;
}

.gheader__input__search__mail {
    display: flex;
    background: #EAF1FB;
    max-width: 720px;
    border-radius: 50px;
    height: 100%;
    min-height: 48px;
}

.gheader__input__search__mail div {
    flex: 1;
}

.gheader__input__search__mail button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 6px;
    width: 48px;
    line-height: 0;
}

.gheader__input__search__mail button svg {
    margin: 3px;
}

.gheader__input__section {
    flex: 1;
    padding-right: var(--padding-size-30);
    padding-left: var(--padding-size-10);
    height: 100%;
}

/* gheader end */
/* gcontainer start */
.gcontainer {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    z-index: -99;
}

.main__body {
    flex: 1;
    background-color: #F2F6FC;
    /* background-color: red; */
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 0;
}

.main__body__content {
    overflow-y: scroll;
    margin-bottom: 40px;
    padding-bottom: 40px;
    height: 100%;
    font-size: var(--font-size-medium);
    overflow-y: scroll;
    height: 610px;
}

.main__body__content>div {
    height: 56px;
    background-color: white;
}

.left--checkbox {
    height: 100%;
    display: flex;
    align-items: center;
}

.left--checkbox span {
    height: 100%;
    display: flex;
    align-items: center;
}

.main__body header .main__body__header__left {
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    margin: 0 var(--margin-size-16) 0 0;
    padding: 0 var(--padding-size-16);
    font-size: var(--font-size-small);
    color: #5E5E5E;
    font-weight: 400;
    border-radius: 10x 10px 0px 0px;
    background-color: white;
}

.main__body__header__left .main__body__content>div {
    height: 56px;
    display: flex;
}

.message--count {
    display: flex;
    align-items: center;
}

.message--count>span {
    display: flex;
    gap: 5px;
}

.main__body__table {
    width: 100%;
    height: 100%;
    font-size: var(--font-size-medium);
}

.main__body__table tbody tr {
    display: flex;
    height: 100%;
    align-items: center;
    /* border-bottom: 1px solid #EFEEF4; */
}

.main__body__table tbody td {
    transition: all .4s ease-in-out;
    cursor: pointer;
    height: 100%;
    width: 153px;
    align-items: center;
    display: flex;
    position: relative;
    flex: 1;
}

.main__body__table tbody td span {
    letter-spacing: 1px;
}

.activeColor {
    color: var(--color-active-border);
}

.activeBg {
    background-color: var(--color-primary-active);
    color: #001d35;
    font-weight: bold;
}

.activeBg:hover {
    background-color: #E0E9F7;
}

.inactive {
    color: var(--color-table-head);

}

.main__body__table table tr span {
    font-weight: 500;
    font-size: var(--font-size-medium);
}

.active::after {
    background: var(--color-active-border);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0 8px;
    position: absolute;
    right: 0;
}


.main__body__table tbody td:hover {
    background-color: #F4F4F4;
}

.main__body__table tbody td div {
    display: flex;
    align-items: center;
    flex: 1;
}

.main__body__table tbody td div img {
    height: 20px;
    width: 20px;
    margin: 0 16px;
}

.main__body__mail table {
    width: 100%;
    padding-bottom: 74px;
    position: relative;
}

.main__body__mail table tbody {
    display: flex;
    flex-direction: column;
    padding-right: var(--padding-size-2);
    color: var(--color-table-text);
}

.company--name {
    flex-basis: 168px;
    max-width: 168px;
}

.main__body__mail table tbody .check {
    padding: 0px var(--padding-size-10) 0px var(--padding-size-13);
}

.main__body__mail .date {
    font-size: var(--font-size-small) !important;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.main__body__mail__msg {
    color: #5F6368;
}

.download--pdf {
    color: #5f6368;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 30px;
    padding: 0 var(--padding-size-12);
    margin-right: 8px;
    max-width: 160px;
    min-width: 64px;
    border: 1px solid #EAE5EA;
    border-radius: 15px;
    align-items: center;
    box-shadow: inset 0 0 0 1px rgba(100, 121, 143, 0.302);
    margin-bottom: 3px;
    margin-left: 2px;
    margin-top: 7px;
}

.download--pdf>img {
    height: 16px !important;
    width: 16px !important;
    margin-right: 8px;
}

.main__body__mail table tbody tr {
    width: 100%;
    background: #F2F6FC;
    padding-bottom: var(--padding-size-10);
    padding-top: var(--padding-size-10);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-medium);
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
    box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.12);
}

.main__tr-btop {
    border-top: 1px solid #EFEEF4;
}

.main__body__mail table tbody tr:hover {
    /* background-color: red; */
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2;
}

.main__body__mail table tbody tr>div {
    flex: 1;
}

.main__body__mail table tbody tr>div>div {
    display: flex;
}

.main__body__mail table tbody tr>div>div .read {
    flex: 1;
}

.main__body__mail tr td img {
    height: 20px;
    width: 20px;
}

.main__body__mail .read {
    flex: 1;
}

.main__body__mail .read>div {
    display: flex;
    flex-direction: column;
}

.main__body__mail table tbody tr td {
    padding-right: var(--padding-size-10);
}

.nav__left {
    max-width: 256px;
    min-width: 256px;
    font-size: var(--font-size-medium);
}

.navwidth {
    width: 72px;
}

.nav__left__compose {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: #C2E7FF;
    border-radius: 16px;
    color: #001d35;
    height: 56px;
    cursor: pointer;
    width: 138.463px;
    padding-right: 20px;
}

.nav__left__compose:hover {
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, .3), 0 4px 8px 3px rgba(60, 64, 67, .15);
    background-color: #c2e7ff;
}

.nav__left__compose span {
    font-weight: 500;
    color: #001d35;
    letter-spacing: .8px;
}

.nav__left__compose img {
    height: 24px;
    flex: 1;
    object-fit: contain;
}

.main__body__hide {
    display: none;
}

.main__body__block {
    display: block;
    position: absolute;
    right: 0;
    background-color: #F2F6FC;
    z-index: 99;
    margin-right: 4px;
}

/* .nav__left__compo {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: medium;
    height: 56px;
    margin-bottom: var(--margin-size-16);
    margin-top: var(--margin-size-8);
    padding: var(--padding-size-8)
} */
.nav__left__compo {
    height: 56px;
    margin: 8px 0 16px 0;
    padding: 0 0 0 8px;
}

.nav__left .nav__left__list::-webkit-scrollbar {
    width: 8px;
}

.nav__left .nav__left__list::-webkit-scrollbar-thumb {
    background: #828487;
    border-radius: 10px;
}

.nav__left .nav__left__list {
    overflow: scroll;
    height: 88vh;
    max-width: 240px;
    min-width: 240px;

}

.nav__left__list .less {
    padding: 0 12px 0 26px;
    display: flex;
    align-items: center;
}

.nav__left__user {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: var(--padding-size-26);
    padding-right: var(--padding-size-12);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.active--left--icon {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.nav__left__user:hover {
    background: gainsboro;
}

.nav__left__user__icon {
    height: 20px;
    width: 20px;
    display: flex;
    margin-right: 20px;
}

.active--img--margin {
    margin: 0;
}

.nav__left__user__icon img {
    height: 100%;
    width: 100%;
}

.nav__right {
    width: 56px;
}

.nav__right>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__right__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__right__list>div {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__right__list img {
    height: 20px;
    width: 20px;
}

.nav__right__list::after {
    content: "";
    border-top: 1px solid #dadce0;
    padding-bottom: 16px;
    width: 20px;
}

.nav__right__list .plus {
    display: flex;
    justify-content: center;
}

aside.nav__right::-webkit-scrollbar {
    display: none;
}

/* gcompose start  */
.gcompose {
    background-color: white;
    height: 530px;
    width: 600px;
    position: absolute;
    right: 75px;
    bottom: 0;
}

/* gcompose end  */

/* gcontainer end */