* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.athen--announcement {
  background-color: #0244A9;
  color: white;
  font-size: 13px;
  text-align: center;
  padding: .75rem 0;
  line-height: normal;
}

.athen--container {
  padding: 0 1.5rem;
}

.athen--header {
  padding: 1.5rem 0;
}

.athen--header--store {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.athen--header--store--cart {
  display: flex;
  justify-content: flex-end;
}

.athen--header--store-name {
  font-size: 20px;
  text-decoration: none;
  line-height: 26px;

}

.athen--header--store-name a {
  color: #232323;
  text-decoration: none;
  font-weight: 500;
}

.athen--header--store--cart span {
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.athen--header--store-name,
.athen--header--store--cart {
  flex: 1;
}

.athen--header--search {
  display: flex;
  margin-top: 15px;
  flex-wrap: wrap;
  height: 44px;
}

.athen--header--search .search {
  display: flex;
  align-items: center;
  background-color: #0244A9;
  padding: 12px 15px;

}

.athen--header--search button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

.athen--header--search .search svg {
  fill: white;
}

.athen--header--search input {
  flex: 1;
  padding: 5px 15px;
  font-size: 16px;
  border: 1px solid grey;
}

.athen--header-nav {
  list-style: none;
  text-transform: capitalize;
  border-bottom: 1px solid grey;
  /* padding: 1.5rem 1rem 1.5rem 0; */
}

.main--container {
  display: flex;
  gap: 20px;
  max-width: 1300px;
  margin: auto;
  padding: 30px;
}

.left {
  flex: 1;
}

.left--image {
  max-width: 600px;
  margin-bottom: 20px;
  height: 519.6px;
  border: 1px solid #C3CFD9;
}

.left--image img {
  width: 100%;
  /* height: auto; */
  object-fit: contain;
  height: 100%;
}

.left--thumbnails {
  display: flex;
  gap: 10px;
}

.left--thumbnails img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  margin-right: 24px;
  margin-bottom: 24px;
  border: 1px solid #D7D7D8;
  object-fit: scale-down;
}

.left--thumbnails img.active {
  border-bottom: 2px solid #D7D7D8;

}

.right {
  flex: 1;
  position: sticky;
  top: 30px;
  align-self: flex-start;
  padding-bottom: 20px;
}

.right h1 a {
  text-decoration: none;
  font-size: 22.5px;
  color: #39353D;
}

.right--badge button {
  font-size: 15px;
  background-color: #d9ccc1;
  color: #39353d;
  padding: 4px 8px;
  text-align: center;
  border-radius: 1px;
  border-width: 0px;
  border-color: #4192c2;
  margin-right: 5px;
}

.right-cartbtn {
  background-color: #3078cd;
  border: 1px solid #3078cd;
  color: #ffffff;
  min-height: 54px;
  white-space: normal;
  line-height: normal;
  width: 100%;
  border-radius: 2px;
  font-size: 16.8px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.right-cartbtn:hover {
  background-color: #14529C;

}

.right>div {
  max-width: 550px;
  margin: auto;
  padding-bottom: 20px;
}

.right--select.right--delevery {
  flex-direction: column;
}

.right--select:first-child {
  border-bottom: 1px solid #C3CFD9;
}

.right--select {
  padding: 1.1em 1.1em 1.1em 1.1em;
  font-size: 17px;
  display: flex;
}

.right--select--input {
  display: flex;
}

.right--select input {
  margin-right: 16px;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.right--select label {
  flex: 1;
  line-height: 18.36px;
  font-size: 15.3px;
  font-weight: 600;
  font-style: unset;
  margin-right: 15.3px;
  padding: 0px 0px 0px 0px;
  text-transform: none;
  cursor: pointer;
}

.right--price {
  border: 1px solid #C3CFD9;
  margin: 10px 0px 15px 0px;
  color: #39353D;
}

.right--shipping {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 4px 0 0 8px;
}

.right--shipping p {
  display: flex;
  color: #39353D;
  align-items: center;
}

.right--shipping img {
  width: 20px;
}

.right--about {
  font-size: 17px;
  color: #39353D;
}

.right--about p {
  margin-top: 12.75px;
}

.right--about strong {
  font-weight: 600;

}


.goldstardiv {
  color: #E5E5E5;
  position: relative;
}

.goldstardiv.full--color {
  color: #E22882;
}

.halfstar {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  color: #E22882;
  overflow: hidden;
}

.right--rating {
  display: flex;
  color: #39353D;
}

.right--price ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.right--price ul li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 15.3px;
  color: #39353D;

}

.right--price ul li svg {
  width: 1.0rem;
  height: 1.0rem;
  color: #3333D4;
}

.right--select--des {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 0.5em;
  margin-left: 2.2rem;
  gap: 10px;
}

.right--select--des #select {
  font-size: .9em;
  font-weight: 500;
  font-style: unset;
  border-width: 1px;
  border-color: #C3D0D9;
  border-radius: 5px;
  margin: 6px 0px 0px 12px;
  padding: 0.5em 2.5em 0.5em 0.7em;
  text-transform: none;
}

@media (max-width: 768px) {
  .main--container {
    display: block;
  }
  .left--thumbnails{
    max-width: 425px;
    overflow: scroll;
  }
  .right{
    padding-top: 30px;
  }
}